<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>I am node</title>
</head>
<body>
	<h1>
		Menu
	</h1>
	<ul>
		<li>
			<a href="/">Index</a>
		</li>
		<li>
			<a href="/users">User</a>
			<ul>
				<li>
					<a href="/users/one">User One</a>
				</li>
				<li>
					<a href="/users/two">User Two</a>
				</li>
			</ul>
		</li>
	</ul><br><br>
    {{{body}}}
</body>
</html>
